.page {
  padding: 0% 3%;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin: 20px 10px;
}

.left {
  border: 1px solid #e5e7eb;
  height: 70vh;
  max-width: 30%;
  overflow-y: scroll;
  /* overflow-x: hidden; */
}

/* .video {
} */

.module {
  border-bottom: 1px solid #e5e7eb;
  padding: 0px 12px;
  padding-top: 12px;
  cursor: pointer;
  position: relative;
}

p {
  width: max-content;
  padding: 0px 6px;
}

.index {
  background-color: #570df8;
  border-radius: 80%;
  width: fit-content;
  height: fit-content;
  color: white;
  font-size: 14px;
  /* padding: 2px 8px; */
}

.subtopics {
  /* border-bottom: 1px solid #e5e7eb; */
  padding: 0px 0px;
}

.record {
  border-bottom: 1px solid #e5e7eb;
  width: 100%;
  /* padding: 0px 0px; */
  /* width: 120%; */
  padding: 12px 24px;
  cursor: pointer;
  /* margin: 0px 0px !important; */
}

.record:hover {
  color: #570df8;
}

.inside,
.inside-index {
  margin: 0px;
}

.inside-index {
  border: 1px solid #570df8;
  border-radius: 80%;
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  color: #570df8;
}

.right {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.right h3 {
  font-weight: 400;
  font-size: 24px;
}

.videoBox {
  width: 100%;
  height: 100%;
}

.videoBox iframe {
  width: 100%;
  height: 100%;
}

.below {
  margin-top: 70px;
}

.options p {
  padding: 0px 24px 10px 24px;
  border-bottom: 2px #8f949b solid;
  font-size: 18px;
  color: #8f949b;
  cursor: pointer;
}

.options p:hover {
  color: #1f2937;
}

.options p:active {
  color: #1f2937;
  border-bottom: 2px solid #1f2937;
}

.course a {
  color: #570df8;
  font-weight: 500;
}

.active {
  color: black;
}

.askAI {
  border: 2px solid #36d399;
  /* box-shadow: 0px 0px 8px 0px #969595; */
  margin-bottom: 300px;
  width: 94vw;
  padding: 10px 10px;
}

.arrow {
  position: absolute;
  right: 10px;
}

.icon {
  font-size: 12px;
  font-weight: 500;
}
