<app-navbar></app-navbar>

<!-- dashboard -->

<div class="banner"><h1>Welcome to Kona LMS! 🚀</h1></div>

<div class="row title">
  <div class="col-sm-8">
    <h1>Your courses</h1>
  </div>
</div>

<div class="row courses" *ngFor="let data of course">
  <div class="col-sm-8">
    <div class="box">
      <div class="row left">
        <div class="col-sm-3">
          <img src="{{ course.courseimage }}" alt="test.jpeg" />
        </div>
        <div class="col-sm-6 inner">
          <h1>{{ data.coursename }}</h1>
          <p>{{ data.coursetrainer }}</p>
        </div>
        <div class="col-sm-3 right">
          <button
            class="con"
            (click)="continue(data.coursename, data.coursetrainer)"
          >
            Continue <fa-icon class="icon" [icon]="right"></fa-icon>
          </button>
          <button class="live">
            Live class <fa-icon class="icon" [icon]="camera"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
