.nav {
  /* padding: 10px 14px;
  border-bottom: 1px solid #e5e7eb; */
  max-width: 18%;
  height: 10%;
  margin: 0;
  /* border-right: 1px solid #e5e7eb; */
}
.left {
  /* padding: 10px 14px; */
  border-bottom: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

button {
  height: initial;
  border: none;
}

.courses,
.users {
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  /* max-height: fit-content !important; */
}

/* .courses:hover,
.users:hover {
  cursor: pointer;
} */

.add {
  /* height: 100%; */
  /* width: 100%; */
  /* padding: 10px 14px; */
  background-color: #3d4451;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.add:hover {
  cursor: pointer;
  background-color: rgb(52, 52, 52);
}

/* .right {
  height: 100%;
  border-left: 1px solid #3d4451;
} */

.list {
  padding: 0 !important;
  /* margin: 0 !important; */
  margin: 0;
  margin-left: -24px !important;
}

.search {
  padding: 10px;
  padding-left: 10px;
  margin-left: 0px;
  width: 100%;
  /* padding: 14px 20px; */
  border: 1px solid #570df8;
}

.title {
  border: 1px solid #e5e7eb;
  /* padding: 10px 20px; */
  padding-top: 12px;
  padding-left: 12px;
  cursor: pointer;
}

.addcourse {
  margin: 16px 10px;
}

.addcourse h1 {
  font-size: 22px;
  font-weight: 400;
}

.enter {
  border: 1px solid #570df8;
}

.enter:focus {
  border: 1px solid #570df8;
}

.file {
  cursor: pointer !important;
}

.addcourse button {
  color: white;
  width: 100%;
  border: none;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: #570df8;
}

.addcourse button:hover {
  background-color: #4506cb;
}

.title p.active {
  color: #570df8;
  text-decoration: underline;
  cursor: pointer;
}

.title p.active:hover {
  color: #570df8;
}

.title p {
  color: black;
  cursor: pointer;
}

.options p {
  padding: 0px 20px 10px 24px;
  border-bottom: 2px #8f949b solid;
  font-size: 18px;
  font-weight: 400;
  color: #8f949b;
  cursor: pointer;
}

.options p:hover {
  color: #1f2937;
}

.options p:active {
  color: #1f2937;
  border-bottom: 2px solid #1f2937;
}

.course a {
  color: #570df8;
  font-weight: 500;
  text-decoration: underline;
}

.course b {
  color: #4c545f;
}

/* .classlink {
} */

.classlink input {
  /* width: 50%; */
  padding: 10px 6px;
  border: 1px solid #4506cb;
}

.classlink button {
  padding: 13px 16px;
  background-color: #570df8;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.icon {
  cursor: pointer;
}

.active {
  color: black;
}

.archive button {
  background-color: #fbbd23;
  padding: 14px 18px;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.common p {
  margin: 0px !important;
}

.common {
  background-color: #3abff8;
  color: black;
  padding: 16px 16px;
  /* margin: 0px !important; */
}

/* Modules tab css */

.mod-header {
  align-items: center;
}

.mod-header h1 {
  font-size: 24px;
}

.modulesBox {
  border: 1px solid black;
  padding: 12px 18px;
  padding-top: 0px;
  margin: 14px 0px;
}

.moduleData {
  padding: 12px 18px;
  align-items: center;
}

.moduleData h1 {
  font-size: 18px;
}

input {
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.btn-mod {
  color: white;
  background-color: #570df8;
  padding: 8px 14px;
}

.btn-mod:hover {
  background-color: #4506cb;
}

.mod-delete {
  color: white;
  font-size: 16px;
  background-color: #dc3545;
  padding: 6px 8px;
}

.mod-delete:hover {
  background-color: #c52535;
}

.video-box {
  border: 1px solid black;
  padding: 10px 14px;
}

.video-box h2 {
  font-size: 14px;
}

.videoData p {
  margin: 4px 8px;
  padding: 6px 10px;
  border: 1px solid black;
}

.videoHeader {
  padding: 2px 8px;
  align-items: center;
}

.btn-vid {
  color: white;
  background-color: #570df8;
  padding: 6px 4px;
  font-size: 12px;
}

.btn-vid:hover {
  background-color: #4506cb;
}

/* User tab css */

.sample {
  text-decoration: underline;
  color: #570df8;
  font-size: 14px;
  cursor: pointer;
}

.upload {
  color: white;
  background-color: #570df8;
  padding: 12px 16px;
}

.file {
  border: 1px solid #3abff8;
  padding: 14px 24px;
  /* background-color: #3abff8; */
}

.user h1,
.find h1 {
  font-weight: 400;
  font-size: 24px;
}

.btn-user {
  color: white;
  background-color: #570df8;
  padding: 12px 16px;
  max-width: 90px;
  font-weight: 500;
  font-size: 14px;
}

.find {
  margin-top: 64px;
}

.find input {
  padding: 14px 12px;
  border: 1px solid #570df8;
  width: 100%;
}

form {
  width: 100%;
}

.data {
  border: 1px solid black;
  padding: 10px 10px;
}
