.register {
  background-color: black;
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.register h1 {
  font-size: 26px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-input {
  margin: 10px;
  padding: 10px;
}

.form-button {
  margin: auto;
  width: max-content;
  padding: 5px 10px;
  border: none;
  background-color: #570df8;
  color: white;
  border-radius: 6px;
  margin-top: 20px;
}

.sucess {
  color: green;
  text-transform: capitalize;
}

.form-box {
  background-color: white;
  border-radius: 6px;
  display: grid;
  place-items: center;
  padding: 40px 40px;
  width: 26%;
}

.logo {
  width: 58%;
}

p {
  font-size: 14px;
}

.form-input {
  width: 100%;
  border: 1px solid #c2c8d0;
  border-radius: 4px;
}

.input-box {
  position: relative;
}

.input-box input {
  width: 100%;
  background: transparent;
  outline: none;
  transition: 0.5s;
}

.input-box input:focus,
.input-box input:valid {
  border: 2px solid #a0c0d0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #6f7780;
  transition: 0.3s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: 1px;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: white;
  padding: 0 4px;
  color: #007bad;
}

.form-btn {
  background-color: #0059d6;
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.form-btn:hover {
  background-color: #0052c6;
}

.login {
  font-weight: 600;
  color: #570df8;
  cursor: pointer;
}
