.navbar {
  box-shadow: 0px 0px 16px 0px #969595;
  padding: 0px 5px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.navbar a {
  color: #3b82f6;
  font-size: 14px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
}
.allCourses{
  color: #570df8;
  text-decoration: underline;
  margin-left: 30px;
  /* margin-right: 30px; */
}

.profile {
  color: white;
  border-radius: 50%;
  padding: 10px;
  margin: 0px 5px 0px 16px;
  cursor: pointer;
  position: relative;
}

.profile-picture {
  background-color: #95a5a6;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pp {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown:hover .dropdown-menu {
  position: absolute;
  display: block;
  right: 0px;
  top: 50px;
  padding: 8px 8px;
  border-radius: 20px !important;
}

.dropdown .dropdown-toggle:active {
  pointer-events: none;
}

.prf {
  color: black !important ;
  font-size: 16px !important;
  padding: 14px 20px;
  padding-right: 68px;
  margin-right: 10px;
}

.prf:hover {
  background-color: #e6e6e6;
  border-radius: 10px;
}

.icon {
  padding-right: 5px;
}

.prf:active {
  color: white !important;
  background-color: #570df8;
}
