<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="section-1">
        <!-- <img src="../../assets/DL-logo.png" alt="DL-logo.jpg" /> -->
        <img src="../../DL-logo.png" alt="DL-logo.jpg" />
        <h1>Welcome</h1>
        <p>Please sign in to your account below</p>
        <button class="btn-signin" (click)="openLogIn()">Sign In</button>
        <!-- <p class="pt-2">
          Dont have an Account? <a href="" routerLink="register">Sign-Up</a>
        </p> -->
      </div>
    </div>
    <div class="col-sm-6 right">
      <!-- <img class="wel" src="../../assets/welcome.jpg" alt="welcome.jpg" /> -->
      <img class="wel" src="../../welcome.jpg" alt="welcome.jpg" />
    </div>
  </div>
</div>
