<div class="login row">
  <div class="form-box col-sm-3">
    <img class="logo pt-2" src="../../assets/DL-logo.png" alt="" />
    <h1 class="pt-4">Welcome</h1>
    <p class="text-center pt-3">
      Log in to Digital Lync to continue to Digita Lync LMS.
    </p>
    <form
      #loginForm="ngForm"
      (submit)="login(loginForm.value)"
      ngNativeValidate
      #form
      class="form"
    >
      <!-- <p class="error-p">{{ authError }}</p> -->
      <div class="input-box">
        <input
          type="text"
          id="email"
          class="form-input px-3 py-3"
          name="userEmail"
          required
          [(ngModel)]="userEmail"
        />
        <label>Email address</label>
      </div>
      <div class="input-box mt-3 mb-2">
        <input
          type="password"
          id="password"
          class="form-input px-3 py-3 pwd"
          name="password"
          required
          [(ngModel)]="password"
        />
        <label>Password</label>
      </div>

      <div class="error-msg" *ngIf="status === 'login Failed'">
        {{ warning }}
      </div>

      <a class="fp" (click)="forgotPwd()">Forgot password?</a>
      <button type="submit" class="form-btn py-3 mt-4 mb-3">Continue</button>
    </form>
  </div>
</div>
